<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>JN_Super</title>
</head>
<body>
<!--Multi CSS-->
<link th:href="@{/css/multi.css}" media="all" rel="stylesheet" type="text/css"/>

<nav th:replace="~{fragments/navBar :: navBarFragment}"></nav>
<!--Heading Area -->
<div class="container-fluid bg-dark form-Border">
    <div class="row text-center formManagement border-info">
        <!--View List Button-->
        <div class="col">
            <a href="/purchaseOrder" class="btn btn-primary">
                <i class="fa fa-list" style="font-size: 20px"></i>&nbsp;&nbsp;View List
            </a>
        </div>
        <!--Form Name-->
        <div class="col">
            <h2 class="text-white text-center">
                <strong>
                    Purchase Order Management
                </strong>
            </h2>
        </div>
        <!--Home Button-->
        <div class="col">
            <a class="btn btn-primary" href="/home">
                <i class="fa fa-home" style="font-size: 20px"></i> &nbsp;&nbsp;Home
            </a>
        </div>
    </div>
</div>

<!--Form Content - start -->
<div class="container-fluid bg-info">
    <!--Supplier Search - Start-->
    <div class="offset-1 flex-column" th:if="${searchAreaShow==true}">
        <form id="form" class="form-inline" th:action="${'/purchaseOrder/find'}"
              th:object="${purchaseOrder}" method="POST">
            <div class="form-row">
                <label for="searchCriteria" class="mr-5 ml-5">Search By</label>
                <select class="form-control mr-5 ml-5" id="searchCriteria" tabindex="1" required>
                    <option value="" disabled selected>Please Select</option>
                    <option value="name">Name</option>
                    <option value="code">Code</option>
                    <option value="contactOne">Mobile Number</option>
                </select>
                <label for="searchValue" class="mr-5 ml-5">Search Value</label>
                <input type="text" class="form-control mr-5 ml-5" id="searchValue" tabindex="2" minlength="5" required>
                <!--Search Button-->
                <button class="btn btn-success mr-5 ml-5" type="submit" tabindex="3" id="searchButton">
                    <i class="fa fa-search " style="font-size: 20px"></i>&nbsp;&nbsp; Search
                </button>
            </div>
        </form>
    </div>
    <!--Supplier Search - end-->
    <!--Supplier List Show - start-->
    <div class="col-12 flex-column" th:if="${supplierDetailShow==true}">
        <div th:replace="~{supplier/supplier :: supplierFragment}"></div>
    </div>
    <!--Supplier List Show - end-->
    <!--Supplier Item add- start-->
    <div class="col-12 flex-column" th:if="${supplierDetailShow==false}">
        <a href="#hrefCollapse" class="btn btn-primary col-12" data-toggle="collapse" aria-expanded="false"
           aria-controls="hrefCollapse">Show Supplier Details</a>
        <div class="collapse" id="hrefCollapse">
            <section th:replace="~{supplier/supplier-detail :: supplierDetailsFragment}"></section>
        </div>
        <!--Purchase Order Item add Form - start-->
        <form th:action="${'/purchaseOrder'}" method="POST" class="mb-5" th:object="${purchaseOrderDetail}">
            <input type="hidden" th:name="${'purchaseOrder'}" th:value="${supplierDetail.id}">
            <div class="form-row col-md-6" th:if="${purchaseOrderItemEdit==false}">
                <div class="col-md-4">
                    <label class="control-label" for="item">Select Items:</label>
                </div>
                <div class="text-left col-md-8">
                    <select class="form-control" id="item">
                        <option value="" selected> Please Select</option>
                        <option th:each="item : ${items}"
                                th:value="${item.id}"
                                th:text="${item.name}"
                              > Please Select
                        </option>
                    </select>
                </div>
            </div>

            <div class="form-row col-md-12 col-sm-12 mt-4 text-center">
                <!--Add new Item-->
                <table class="table table-striped table-inverse" id="selectedItemInTable">
                    <legend><strong> <i>Selected Items </i></strong></legend>
                    <thead class="thead-inverse">
                    <tr>
                        <th>Index</th>
                        <th>Item Name</th>
                        <th>ROP</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                </table>
            </div>
            <!--Button-->
            <div class="form-group col-md-12 col-sm-12 mt-4 text-center flex-column ">
                <!--Back Button-->
                <a class="btn btn-dark" tabindex="11" href="/supplier">
                    <i class="fas fa-arrow-circle-left" style="font-size: 20px"></i>&nbsp;&nbsp;Back
                </a>
                <!--Save Button-->
                <button class="btn btn-success ml-5" type="submit" tabindex="9">
                    <i class="fa fa-save " style="font-size: 20px"></i>&nbsp;&nbsp;Save
                </button>
                <!--Cancel Button-->
                <button class="btn btn-warning ml-5" type="reset" tabindex="10">
                    <i class="far fa-times-circle" style="font-size: 20px"></i>&nbsp;&nbsp;Cancel
                </button>
            </div>
        </form>
        <!--Supplier Item add Form - end-->
    </div>
</div>

<!--Supplier Item add - end-->
<footer th:replace="~{fragments/footer :: footerFragment}"></footer>
<script th:replace="~{fragments/script :: scriptFragment}"></script>
<script>
    $(document).ready(function () {
//when search criteria add
        $("#searchCriteria").bind("change", function () {
            $("#searchValue").attr("name", $(this).val());
        });
    });
    //add new item and price
    $("#item").bind('change', function () {
        let valueA = optionElementRemove("#item");
        tableRowAdd(valueA);
    });
    //table row remove
    let tableRowRemove = function (obj) {

        let itemIndex = obj.parentNode.parentNode.rowIndex;
        let itemSelected = document.getElementById("selectedItemInTable").rows.item(itemIndex).cells;

        let removeItemValue = itemSelected[1].childNodes[1].nextSibling.nextSibling.attributes.value.nodeValue;
        let removeItemText = itemSelected[1].childNodes[1].firstChild.nodeValue;

        $("#item").append(new Option(removeItemText, removeItemValue));
        let removeRow = `#selectedItemInTable tr:eq(${itemIndex})`
        $(removeRow).remove();


    }
    //option tag remove
    let optionElementRemove = function (id) {
        let selectedValue = $(id).val();
        let selectedItemId = `${id} option[value='${selectedValue}']`;
        let selectedValueInnerHTML = $(selectedItemId).html();
        $(selectedItemId).remove();
        return {name: selectedValueInnerHTML, value: selectedValue};

    }

    //bring ROP
    let rop = function(value){

        let rows = $("#selectedItemInTable tr").length;
        let rowCount = rows - 1;

        let rows = $("input[name='pname[]']")
            .map(function(){return $(this).val();}).get();


    /*$querySupplierItem = mysqli_query($con, 'SELECT * FROM SupplierItem');
    while ($person = mysqli_fetch_array($querySupplierItem)) {
        echo '<option value="'.$item["id"].'">'.$item["name"].' '.$item["rop"].'</option>';
    }*/



    }




    //table row add
    let tableRowAdd = function (value) {
        let rows = $("#selectedItemInTable tr").length;
        let rowCount = rows - 1;
        let html = `<tr>
                        <td>${rows}</td>

                        <td>
                            <span>${value.name}</span>
                            <input type="hidden" name="supplierItems[${rowCount}].item.id" value="${value.value}">
                        </td>

                         <td>
                            <span>${value.rop}</span>
                            <input type="hidden" name="supplierItems[${rowCount}].item.rop" value="${value.value}">

                        </td>

                        <td>
                         <div class="form-row form-inline">
                                <label>
                            Rs. <input type="number" min="0" step="0.5" class="form-control" name="supplierItems[${rowCount}].price" required>
                                </label>
                         </div>
                        </td>

                             <td>
                            <span>${value.quantity}</span>
                            <input type="hidden" name="supplierItems[${rowCount}].item.id" value="${value.value}">
                        </td>

                        <td>
                            <button type="button" class="btn btn-outline-danger" onclick="tableRowRemove(this)">Remove</button>
                        </td>
                    </tr>`;

        $("#selectedItemInTable tr:last").after(html);

    }


</script>
</body>
</html>