<!DOCTYPE html>
<html>
<head>
    <title>Samarasinghe Super:BIT Final Project</title>

    <link rel="stylesheet" type="text/css" href="contact-us-style.css">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

<body>
<div class="row">

		<div class="col-md-4" id="socialmedia">
	<img src="fb.png">
	<img src="g.png">
	<img src="i.png">
	<img src="in.png">
	<img src="w.png">
	</div>

	<div class="col-md-8">
		<h1 style="text-align: center;color: #faebefff;margin-right:80px">WelCome</h1>
	</div>
 
</div>

<div class="row">

		<div class="col-md-6" style="float: left">
		<img src="21.png">
	</div>

	
	<div class="col-md-6 shadow p-3 mb-5 bg-white rounded" style="margin-right: 20px">

		<div class="row">
		<div class="col-md-6 form-area">

				<div class="img-area">
					<img src="11.png" alt="">
				</div>
   
    			<h2>CONTACT US</h2>

			    <p> User Name :</p>
			    <input type="text" name="username" id="txtUsername" placeholder="Enter User Name">

			    <p>Email :</p>
			    <input type="email" id="txtEmail" placeholder="Enter Email ">

			    <p>Message :</p>
			    <textarea id="txtMessage" placeholder="Enter Message"></textarea>

			    <div style="margin-top:10px">
			        <button id="btnLogin" class="col-md-6 btn btn-primary"><i class= "fa fa-key" style="margin-right: 10px;font-size: 18px"></i>Submit</button>
			    </div>
			
		</div>
		<div class="col-md-6 form-area" style="float:right;margin-right:15px;margin-top: -451px">
			
			 <label>Address : Samarasinghe Super Market,No.292/4/B ,</br>Welipillewa Junction ,Ganemulla</label><br><br>
				<label>Phone : 0701817980</label><br><br>
				<label>Opening Hours : from 8am to 9pm </label><br><br>
				<label>Email : samarasinghesuper@gmail.com</label><br><br>

				<img src="29.png" id="map-image">
		</div>

		</div>

	</div>
	
</div>


</body>
</html>