<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>Thymeleaf Springboot </title>
</head>
<body id="loginBack">
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container offset-5 col-6 p-5" style="border: 3px solid #8AC007;">
    <div class="col-12">
        <h1 class="text-light">Account Login</h1>
        <br>
        <form th:action="${'/login'}" method="post">
            <div class="textbox container-fluid">
                <i class="fa fa-user-circle" aria-hidden="true"></i>
                <input type="text" id="username" th:name="${'username'}" placeholder="username" name="" value="">
            </div>
            <div class="textbox container-fluid">
                <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                <input type="password" id="inputPassword" th:name="${'password'}" placeholder="password" name=""
                       value="">
            </div>
            <br>
            <button class="btn btn-primary " type="submit">LOGIN</button>
        </form>
    </div>
</div>

<div class="form-row container">
    <div class="offset-8">
        <h2 class="text-light ml-5">Scubes Phones & Accessories</h2>
    </div>
</div>

<!--footer include-->
<footer th:replace="~{fragments/footer :: footerFragment}"></footer>
<!--script include-->
<script th:replace="~{fragments/script :: scriptFragment}"></script>

</body>
</html>